<ion-content class="bg-image no-scroll" padding>
  <img src="../../assets/imgs/logo-appstream.png" class="logo">

  <div>
    <ion-list>
      <ion-item class="label">
        <ion-label color="myWhite" style="font-size: 12px" stacked>Username</ion-label>
        <ion-input type="text" placeholder="Enter Username"></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label color="myWhite" style="font-size: 12px" stacked>Username</ion-label>
        <ion-input color="myWhite" type="password" placeholder="Enter Password"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <p class="text" style="font-family: Open-sans; font-size: 14px; color: #ebebeb">Forgot your password ?</p>

  <div text-center>
    <button class="btnWith" ion-button color="secondary" round (click)="tryFacebookLogin()">Login</button>
  </div>

  <div text-center>
    <button class="myButton" ion-button color="myWhite" round outline [navPush]="nextPage">Sign Up</button>
  </div>

  <img src="../../assets/imgs/facebook.png" class="fb-button">
  <img src="../../assets/imgs/twitter.png" class="twitter-button">



</ion-content>
