page-gallery {

  .image-container {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 0px) {
    .images {
      column-count: 3;
    }
  }

  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }

  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }

  .one-image {
    margin: 1px;
  }

}
