<ion-header>
  <ion-navbar>
    <ion-title>
      Image Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid *ngSwitchCase="'regular'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of [1,2,3,4,5,6,7,8,9,10]">
            <img class="image-container" src="../../assets/imgs/photos/lion/lion-{{image}}.jpg" imageViewer />
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>