<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Video Streams" tabIcon="videocam"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Images" tabIcon="images"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Photo" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="News Feed" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profil" tabIcon="people"></ion-tab>
</ion-tabs>
