page-music {
.right{
  float: right;
  margin-top: -37px;
}
  .tracks{
    font-family: Open-sans;
    font-size: 14px;
    color: #b7c4cb;
    margin-top: -10px;
  }

  .box {
    position: relative;
  }

  .player {
    position: absolute;
    left: 33vw;
    top: 5.5vh;
  }
}
