<ion-header>
  <ion-navbar color="clear">
    <ion-title>
      <p style="font-family: Open-sans; font-size: 18px">Playlist</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Genre & Moods</h3>
  <button class="right" ion-button clear small><p style="font-family: Open-sans; font-size: 15px">See all</p> </button>

  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/audio-1.jpg">
      <h4 class="track">Trending</h4>
      <p class="tracks">52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/audio-2.jpg">
      <h4 class="track">Trending</h4>
      <p class="tracks">52 Tracks</p>
    </ion-col>
  </ion-row>

  <hr>

  <div class="box">
    <img src="../../assets/imgs/audio-1.jpg">

    <div class="player">
      <h4>Alternative</h4>
      <p class="tracks">137 Tracks</p>
    </div>
  </div>

  <hr>

  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/audio-1.jpg">
      <h4 class="track">Trending</h4>
      <p class="tracks">52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/audio-1.jpg">
      <h4 class="track">Workout</h4>
      <p class="tracks">116 Tracks</p>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <img src="../../assets/imgs/audio-1.jpg">
      <h4 class="track">Trending</h4>
      <p class="tracks">52 Tracks</p>
    </ion-col>
    <ion-col>
      <img src="../../assets/imgs/audio-1.jpg">
      <h4 class="track">Workout</h4>
      <p class="tracks">116 Tracks</p>
    </ion-col>
  </ion-row>





</ion-content>
