page-profile {

  .header-parent {
    position: relative;
    text-align: center;
  }

  .header-social {
    position: absoloute;
    bottom: 0px;
    text-align: center;
    margin-top: -5.5vh;
  }

  .profile {
    width: 25%;
    margin: 0 auto;
    margin-top: -34vh;
  }

  .title-name {
    color: #fff;
    margin-top: -3vh;
  }

  .location-icon {
    color: #fff;
    font-size: 18px;
    float: right;
  }

  .numbers {
    font-family: Open-sans;
    color: #323e46;
    font-size: 20px;
  }

  .counter {
    text-align: center;
    margin-top: 6.5vh;
    margin-left: 1vw;
  }

  .numbers-title {
    font-family: Open-sans;
    color: #b7c4cb;
    font-size: 16px;
    margin-top: -3vh;
  }

  .location {
    font-family: Open-sans;
    color: #fff;
    font-size: 16px;
    float: left;
  }

  .profile-location {
    margin-top: -4.8vh;
    margin-right: 36vw;
  }

  .slides {
    max-height: 20%;
    background-color: #f7f8fa;
  }

  .slide-image {
    width: 75%;
  }

}
