<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <div class="header-parent">
    <img src="../../assets/imgs/bg2.jpg">

    <div class="header-social">
      <img style="width: 18%; margin-top: 3vw" src="../../assets/imgs/love-btn.png">
      <img style="width: 40%;" src="../../assets/imgs/friend-btn.png">
      <img style="width: 18%; margin-left: 3vw" src="../../assets/imgs/chat-btn.png">
    </div>

    <div class="profile">
         <img src="{{user.image}}">
    </div>

    <div class="title-name">
      <h3>{{user.name}}</h3>
    </div>

    <div class="profile-location">
        <ion-row align-items-center>
          <ion-col col-8><div><i class="fa fa-map-marker location-icon" aria-hidden="true"></i></div></ion-col>
          <ion-col col-4><div><p class="location">Singapore</p></div></ion-col>
        </ion-row>
    </div>

  </div>

    <div class="counter">
      <ion-row>
        <ion-col>
          <p class="numbers">472</p>
          <p class="numbers-title">Follower</p>
        </ion-col>
        <ion-col>
          <p class="numbers">472</p>
          <p class="numbers-title">Follower</p>
        </ion-col>
        <ion-col>
          <p class="numbers">472</p>
          <p class="numbers-title">Follower</p>
        </ion-col>
      </ion-row>
    </div>

  <ion-slides autoplay="2500" loop="true" slidesPerView="4" class="slides">
    <ion-slide>
      <img class="slide-image" src="../../assets/imgs/profile-slide1.png">
    </ion-slide>
    <ion-slide>
      <img class="slide-image" src="../../assets/imgs/profile-slide2.png">
    </ion-slide>
    <ion-slide>
      <img class="slide-image" src="../../assets/imgs/profile-slide3.png">
    </ion-slide>
  </ion-slides>






</ion-content>
