<ion-slides pager>
    <ion-slide style="background-color: #41c6f1">
        <i class="fa fa-video-camera" style="font-size: 120px; color: #ebebeb" aria-hidden="true"></i>
        <h1 style="color: #ebebeb">Videos on Demand</h1>
        <p style="font-family: Open-sans; font-size: 14px; color: #ebebeb">Watc video in your <b>own</b> time, <i>anywhere</i>
        </p>
    </ion-slide>
    <ion-slide style="background-color: #f06261">
        <i class="fa fa-bath" style="font-size: 120px; color: #ebebeb" aria-hidden="true"></i>
        <h1 style="color: #ebebeb">In your own space</h1>
        <p style="font-family: Open-sans; font-size: 14px; color: #ebebeb">Catch up confort of your home</p>
    </ion-slide>
    <ion-slide style="background-color: #41c6f1">
        <i class="fa fa-headphones" style="font-size: 120px; color: #ebebeb" aria-hidden="true"></i>
        <h1 style="color: #ebebeb">Live audio stream</h1>
        <p style="font-family: Open-sans; font-size: 14px; color: #ebebeb">Listen to live audio stream</p>
    </ion-slide>
    <ion-slide class="bg-image">
        <h1 style="color: #ebebeb">Bienvenue sur Ckoipapa</h1>
        <h4 style="color: #ebebeb">Application de reconnaissance des animaux</h4>
        <p class="padding" style="font-family: Open-sans; font-size: 14px; color: #ebebeb;">Now that you'e seem what it's all <br>
        about how about we get started ?</p>
        <div style="position: absolute; bottom: 120px; text-align: center; z-index: 1000; width: 100%">
            <button ion-button color="myWhite" round outline [navPush]="nextPage" >Let'Go</button>
        </div>
    </ion-slide>


</ion-slides>