page-intro {

  .swiper-pagination-bullet-active {
    background: white;
  }
  .bg-image{
    background-image: url("../../assets/imgs/kidphone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
