
<ion-content>
  <img style="display: block; width: 100%; height: 31vh" src="../../assets/imgs/lion_video.jpg" (click)="playYoutube('lion')">
  <img style="display: block; width: 100%; height: 31vh" src="../../assets/imgs/singe.jpg" (click)="playYoutube('singe')">
  <img style="display: block; width: 100%; height: 31vh" src="../../assets/imgs/video-3.jpg" (click)="playYoutube('autre')">
  <img style="display: block; width: 100%; height: 30vh" src="../../assets/imgs/video-4.jpg" (click)="playYoutube('autre')">
  <img style="display: block; width: 100%; height: 30vh" src="../../assets/imgs/video-5.jpg" (click)="playYoutube('autre')">
</ion-content>
